h1,
h2,
h3,
h4,
h5,
h6,
p {
    text-align: center;
}

.contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.contenido {
    padding: 0.5rem;
    margin: 0.5rem;
    border-bottom: 1px solid #000;
}

.c2 {
    background-color: #eee;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}