<!DOCTYPE html>
<html lang="en" ng-app="appCuaderno">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App Cuaderno</title>

    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
    <h1>Cuaderno Alumnos</h1>

    <div class="contenedor" ng-controller="AlumnosController">
        <div class="contenido" ng-repeat="alumno in alumnos">
            <h2> {{ alumno.nombre }} </h2>

            <p> {{ alumno.telefono }} </p>

            <p> {{ alumno.curso }} </p>
        </div>

        <!-- FILTROS -->
        <h3>Filtros</h3>
        
        <div class="contenido c2"  ng-repeat="alumno in alumnos | orderBy: 'nombre'">
            <h2> {{ alumno.nombre }} </h2>

            <p> {{ alumno.telefono }} </p>

            <p> {{ alumno.curso }} </p>
        </div>
    </div>

    <script src="../lib/angular.min.js" type="text/javascript"></script>
    <script src="../js/02.appCuaderno.js" type="text/javascript"></script>
</body>
</html>
