<!DOCTYPE html>
<html lang="en" ng-app="appCuaderno">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App Cuaderno</title>

    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
    <h1>Cuaderno Alumnos</h1>

    <div class="contenedor" ng-controller="AlumnosController">
        <div class="contenido" ng-repeat="alumno in alumnos">
            <h2> {{ alumno.nombre }} </h2>

            <p> {{ alumno.telefono }} </p>

            <p> {{ alumno.curso }} </p>
        </div>

        <!-- FILTROS -->
        <h3>Filtros</h3>
        
        <div class="contenido c2"  ng-repeat="alumno in alumnos | orderBy: 'nombre'">
            <h2> {{ alumno.nombre }} </h2>

            <p> {{ alumno.telefono }} </p>

            <p> {{ alumno.curso }} </p>
        </div>

        <div class="contenedor-formulario">
            <h3>Añadir contactos</h3>

            <form class="formulario">
                <label for="nombre">Nombre</label>
                <input type="text" name="nombre" id="nombre" ng-model="nuevoAlumno.nombre">

                <label for="telefono">Teléfono</label>
                <input type="number" name="telefono" id="telefono" ng-model="nuevoAlumno.telefono">

                <label for="curso">Curso</label>
                <input type="text" name="curso" id="curso" ng-model="nuevoAlumno.curso">

                <button ng-click="save()">Guardar</button>
            </form>
        </div>
    </div>

    <script src="../lib/angular.min.js" type="text/javascript"></script>
    <script src="../js/02.appCuaderno.js" type="text/javascript"></script>
</body>
</html>
